# Ignore node_modules directory
node_modules/

# Ignore build output
dist/
out/
release/
bin/

# Ignore environment variables
.env
.env.local

# Ignore debug logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore IDE/Editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Electron specific files
app/node_modules/
app/package-lock.json
app/yarn.lock

# Ignore temporary files
*.tmp
*.temp

# Ignore logs and databases
*.log
*.sqlite

# Ignore local development files
.local

repomix-output.txt